
div{
    background-color:powderblue;
    border:20px;
    padding:10px;
    margin:5px;
    margin-left:400px;
    margin-right:400px;
}

h2{
    font-family:verdana;
}

img{
    display:block;
    width:200px;
    margin:20px auto;

}
